/*importation de la police */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');

/*pour tout modifier*/
*{
  padding: 10px;
  margin: 0;
  font-family: Libre Franklin;
}
/*pour mofifier le titre principale */
.Titre{
  text-align: center;
  font-family: Anton;
}

/* modifier les paragraphe p*/
p{
  text-align: center;
}
.titre-contacts{
font-size:20px;
}

/*pour tout les contacts */
.contacts
{
  justify-content: space-between;
  display: flex;
  border: 4px blue outset;
  border-radius: 20px;
  background-color: blue;
  box-shadow: 4px 4px 4px black;
}
.contacts:active
{
  box-shadow: 4x 4px 4px blue inset ;
  border: 4px blue inset;
}
/*pour tout les contacts */
.contacts a
{
  color:#FFF;
}
