h1
{
  text-align: center;
  color: white;
}
.fde
{
  background: url(../images/fdeinspeed.jpg);
  background-repeat: no-repeat;
}
.banniere
{
  height: 150px;
  width: 100%;
  background-image: url(../images/banniereInSpeed.jpg);
  background-repeat: repeat;
  border-radius: 15px;
  box-shadow: 5px 5px 10px black;
}
#banniere
{
  text-align: center;
}
.pp
{
position: absolute;
left; 50px;
}
.bouton
{
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.bouton-item
{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bouton1
 {
  border: 4px #ff4500 outset;
  width: 80px;
  height: 20px;
  border-radius: 20px;
  background-color: #ff4500;
  box-shadow: 4px 4px 4px black;
  text-align: center;
}

.bouton1:active
{
  box-shadow: 4x 4px 4px #ff4500 inset;
  border: 4px #ff4500 inset;
}

.bouton1 a
{
  color: black;
}
a {
  text-decoration: none;
  text-align: center;
  color: white
}
.bouton2 {
  border: 4px #ff4500 outset;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background-color: #ff4500;
  box-shadow: 4px 4px 4px black;
}

.bouton2:active {
  box-shadow: 4x 4px 4px #ff4500 inset;
  border: 4px #ff4500 inset;
}

.bouton2 a {
  color: black;
}

.bouton3 {
  border: 4px #ff4500 outset;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background-color: #ff4500;
  box-shadow: 4px 4px 4px black;
}

.bouton3:active {
  box-shadow: 4x 4px 4px red inset;
  border: 4px #ff4500 inset;
}

.bouton3 a {
  color: black;
}

.bouton-details {
  font-weight: 600;
  text-align: center;
}
